@import "../../global/variables.scss";
@import "../../global/colors.scss";

.c-single {
    padding-bottom: $margin-page;
    .c-single--image {
        margin-top: $margin-page;
        width: 100%;
    }
    .c-single--title {
        margin-top: $margin-page;
    }
    .c-single--description {
        font-style: italic;
    }
    .c-single-keywords {
        .c-single-keywords--keyword {
            margin-right: $margin-block;
        }
    }
}