@import "../../global/variables.scss";
@import "../../global/colors.scss";

.c-asset {
    margin-bottom: $margin-block;
    .card {
        color: $color-dark-gray !important;
        text-shadow: 0 0;
        h2.card-title {
            font-weight: bold;
        }
        .card-text {
            font-size: 12px;
            text-align: left;
        }
    }
}