@import "../../global/variables";
@import "../../global/colors";

.c-item-list {
    .c-item-list--empty {
        width: 100%;
        text-align: center;
        margin-bottom: $margin-component;
    }
}